.site-wrapper{
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-width: 290px;
}
body{
  margin: 0;

  a{
    text-decoration: none;
    color: inherit;
  }
  p{
    font-size: 14px;
    margin: 5px auto;
  }
}

