.rawr-navbar{
  font-family: 'Libre Franklin', sans-serif;
  background-color: #619acd;
  color: white;
  padding: 30px;
  text-align: center;
  a{
    color: white;
    font-style: normal;
  }
  
}
.about-rawr{
  a{
    color: white;
    font-style: normal;
  }
  display: flex;
  font-family: 'Libre Franklin', sans-serif;
  margin: 10px auto;
  max-width: 1100px;
  .profile-card{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 10px;
    .image-wrapper{
      display: flex;
      img{
        width: 250px;
        margin-bottom: 15px;
        margin-right: 10px;
      }
    }
    .contact-box{
      box-sizing: border-box;
      border: 1px solid #619acd;
      .contact-box-title{
        background-color: #619acd;
        color: white;
        font-weight: bold;
        padding: 3px;
        margin-bottom: 3px;
      }
      .contact-box-grid{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        .column{
          display: flex;
          flex-direction: column;
          width:49%;
          margin-bottom: 5px;
          div{
            padding: 4px;
            border: 1px solid rgb(169, 169, 169);
          }
          a{
            width: 80%;
            color: #3624d2;
            display: flex;
            justify-content: flex-start;
            justify-content: space-around;
            margin-left: 6%;
          }
          
        }
      }
    }
    .url{
      margin-top: 20px;
      padding: 3px;
      border: 1px solid #619acd;
    }
    .music{
      margin-top: 20px;
    }
  }
  .about-container{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 55%;
    .network{
      font-size: 24px;
      border: 1px solid black;
      padding: 30px;
      margin: 10px;
      text-align: center;
    }
    .about-box{
      .about-box-title{
        background-color: #ffcb98;
        color:#f36015;
        padding: 2px;
      }
      p{
        margin-top: 0;
      }
      h4, .orange{
        color:#f36015;
        margin: 6px 0;
      }
      .gap{
        margin: 6px 0;
      }
    }
    .friends-holder{
      margin-top: 8px;
      display: flex;
      width: 100%;
      justify-content: space-around;
      .friend-card{
        color:  #3624d2;
        width: 150px;
        img{
          width: 150px;
        }
      }
    }
  }
  
}